body{
	text-align: center;
	font-family: arial;
}

.navigation{
	background-color: #c4170c;
	color: white;
}

.navigation h2{
	background-color: #b0140a;
}

.titulo-noticia h1{
	margin-left: 200px;
	margin-right: 200px;
	font-size: 52px;
	text-align: left;
}

.titulo-noticia h2{
	margin-left: 200px;
	margin-right: 200px;
	font-size: 18px;
	text-align: left;
}