body{
	text-align: center;
	font-family: arial;
}

.navigation{
	background-color: #c4170c;
	color: white;
}

.navigation h2{
	background-color: #b0140a;
}

.titulo-noticia{
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 50px;
}

.titulo-noticia h1{
	font-size: 54px;
	text-align: left;
}

.titulo-noticia h2{
	font-size: 22px;
	text-align: left;
	color: #484848;
	font-weight: normal;
	line-height: 30px;
}

.titulo-noticia h3{
	margin-top: 30px;
	margin-left: 75px;
	font-size: 18px;
	text-align: left;
	font-weight: normal;
	line-height: 30px;
}

.titulo-noticia img{
	margin-top: 10px;
	width: 930px;
}

.titulo-noticia h4{
	font-weight: normal;
	text-align: left;
	font-size: 12px;
	color: #484848;
}

.texto-noticia{
	margin-left: 300px;
	margin-right: 300px;
}

.texto-noticia p{
	font-size: 20px;
	text-align: left;
	line-height: 30px;
	color: #484848;
}

.noticia-link{
	margin-bottom: 50px;
	margin-left: 300px;
	margin-right: 300px;
}

.noticia-link h4{
	font-weight: normal;
	color: #484848;
	text-align: left;
}

.noticia-link a{
	text-decoration: none;
	color: red;
	font-weight: bold;
	font-size: 22px;
}

ul{
	list-style: none;
	padding: 0px;
	text-align: left;
}